.services {
  padding: 0 30px;

  .serv-wrapper {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 20px;

    .cards-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 80px;
    }
  }
}

@media (max-width: 1440px) {
  .services {
    padding: 0 80px;
    .serv-wrapper {
      padding-top: 150px;
    }
  }
}

@media (max-width: 1024px) {
  .services {
    padding: 0 20px;
  }
}
