.about-btn {
  margin-top: 32px;
  a {
    border: 1px solid #111;
    padding: 15px 25px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &:hover {
      background-color: #f2d367;
      border-color: #f2d367;
    }
  }
}
