.section-hero {
  padding: 30px 20px 0;
  background-size: cover;
  background-position: bottom;

  .wrapper {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .left {
      position: relative;

      .phone {
        a {
          line-height: 36px;
          font-weight: 500;
          color: #666;
          text-decoration: none;
          z-index: 2;
        }
      }

      .hero-title {
        padding-top: 100px;

        h1 {
          color: #111;
          text-transform: uppercase;
          font-size: 67px;
          background-color: #eee;
          background-image: url("../../img/hero/q1.webp");
          background-size: 80px;
          background-position: 20px top;
          background-repeat: no-repeat;
          position: relative;

          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100px;
            height: 7px;
            background-color: #111;
            left: -120px;
            top: 50%;
          }
        }

        span {
          color: #635628;
        }
      }
      .par {
        max-width: 520px;

        p {
          line-height: 32px;
          font-size: 16px;
          color: #444;
        }
      }

      .hero-btn {
        padding-top: 60px;

        span {
          display: block;
          padding-top: 20px;
          line-height: 32px;
          font-size: 16px;
          color: #444;
          padding-bottom: 200px;
        }

        #contact_btn {
          border: 1px solid #111;
          padding: 15px 25px;
          display: inline-block;
          text-transform: uppercase;
          text-decoration: none;
          color: #111;
          font-weight: 500;
          font-size: 15px;
          -webkit-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;

          &:hover {
            background-color: #f2d367;
            border-color: #f2d367;
          }

          i {
            padding-right: 5px;
            font-size: 12px;
          }
        }
      }

      .about {
        position: absolute;
        left: 0;
        bottom: -25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 10px 5px #4442;
        box-shadow: 0px 0px 10px 5px #4442;
        cursor: pointer;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;

        &:hover {
          bottom: -20px;
        }

        a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }

        img {
          width: 50%;
        }
      }
    }

    .right {
      position: relative;
      width: 800px;
      background-color: #eee;
      background-image: url("../../img/hero/q2.webp");
      background-position: center;
      background-repeat: no-repeat;

      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: 1600px) {
  .section-hero {
    .wrapper {
      .left {
        .phone {
          padding-top: 50px;
        }

        .hero-title {
          h1 {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .section-hero {
    padding: 30px 80px 0;
    .wrapper {
      .left {
        .phone {
          a {
            font-weight: 400;
            font-size: 0.8rem;
          }
        }
        .title {
          h1 {
            font-size: 50px;
            background-size: 50px;
          }
        }

        .par {
          p {
            font-size: 14px;
            line-height: 27px;
          }
        }

        .hero-btn {
          padding-top: 50px;

          #contact {
            font-size: 13px;
          }

          span {
            font-size: 14px;
            padding-bottom: 150px;
          }
        }
      }
      .right {
        background-position: 60% 100%;
      }
    }
  }
}

@media (max-width: 1366px) {
  .section-hero {
    .wrapper {
      .right {
        background-size: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .section-hero {
    padding: 30px 20px 0;
    .wrapper {
      height: 746px;
      .left {
        position: absolute;
        z-index: 1;
        .par {
          max-width: 400px;
        }
        .about {
          bottom: 20px;
        }
        .phone {
          padding-top: 70px;
        }
      }
      .right {
        background-size: 70%;
        margin-left: auto;
        background-image: none;

        img {
          right: 0;
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
        }
      }
    }
  }
}

@media (max-width: 840px) {
  .section-hero {
    .wrapper {
      .right {
        width: 340px;
        img {
          max-width: 340px;
          left: 0;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .section-hero {
    .wrapper {
      .left {
        .par {
          max-width: 520px;
          width: 100%;
        }
        .about {
          bottom: -6px;
        }
      }
      .right {
        display: none;
      }
    }
  }
}

@media (max-width: 440px) {
  .section-hero {
    .wrapper {
      .left {
        .about {
          bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .section-hero {
    .wrapper {
      .left {
        .about {
          bottom: 48px;
        }
      }
    }
  }
}
