.portfolio-section {
  padding: 0 10px;

  .portfolio-wrapper {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 20px 80px;
  }
  .portfolio {
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 2em;
  }
}

@media (max-width: 1440px) {
  .portfolio-section {
    .portfolio-wrapper {
      padding: 100px 70px 80px;
    }
  }
}

@media (max-width: 1024px) {
  .portfolio-section {
    .portfolio-wrapper {
      padding: 100px 10px 80px;
    }
  }
}
