.contact-info {
  .info-title {
    padding-bottom: 10px;
    span {
      color: #111;
      font-size: 24px;
      font-weight: 600;
    }
  }
  .info-subtitle {
    span {
      color: #444;
      font-size: 0.9rem;
      line-height: 24px;
    }
  }
  .block-info {
    padding-top: 10px;
  }
  .block-info__item {
    margin-top: 10px;
    color: #111;
    font-size: 16px;
    font-weight: 400;
    span {
      padding-left: 10px;
      font-size: 14px;
      color: #444;
    }
  }
}

@media (max-width: 1024px) {
  .contact-info {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
