.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #222;

  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .nav {
      padding-right: 200px;

      ul {
        list-style: none;

        li {
          list-style: none;
          margin-bottom: 20px;
        }

        a {
          text-decoration: none;
          color: #fff;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;

          &:hover {
            color: #f2d367;
          }
        }
      }
    }
    .info {
      .info-wrap {
        span {
          color: #fff;
          font-weight: 500;
          padding-bottom: 10px;
          display: block;
          text-transform: uppercase;
        }

        .contact {
          padding: 0;
          li {
            color: #999;
            list-style: none;
            font-weight: 400;
            font-size: 0.9rem;
            padding-top: 10px;

            &:last-child {
              margin-bottom: 20px;
            }
          }
        }

        .link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          list-style: none;
          padding-top: 10px;
          padding-left: 0;

          li {
            margin-right: 20px;

            a {
              color: #fff;

              &:hover {
                color: #f2d367;
              }
            }
          }
        }
      }
    }
  }

  .close_btn {
    width: 40px;
    height: 40px;
    top: 20px;
    right: 30px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;

    span {
      width: 24px;
      height: 2px;
      display: block;
      position: relative;
      background: transparent;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      background: #fff;
      width: 24px;
      height: 2px;
    }

    &:before {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

@media (max-width: 720px) {
  .menu {
    .wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .nav {
        padding-right: 0;
        padding-bottom: 40px;
      }
    }
  }
}
