.Header {
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  position: fixed;
  .wrapper {
    height: 80px;

    .logo {
      top: 16px;
      left: 24px;
      position: absolute;

      a {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #000;
        text-decoration: none;
      }
    }
  }
}
