.footer {
  background-color: #111;
  text-align: center;
  padding: 40px 0;
  span {
    color: #fff;
    font-weight: 400;
    font-size: 0.8rem;
    display: inline-block;
    vertical-align: middle;
    svg {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
