.social_links {
  position: fixed;
  top: 50%;
  left: 30px;
  margin-top: -100px;
  transform: translateY(-50%);

  ul {
    list-style: none;

    li {
      list-style: none;
      margin-bottom: 24px;
      font-size: 13px;
      text-align: center;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;

      a {
        text-decoration: none;
        color: #111;
      }

      &:hover {
        -webkit-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
      }
    }
  }

  span {
    top: 270px;
    left: -24px;
    width: 68px;
    height: 20px;
    font-size: 12px;
    line-height: 1.2;
    white-space: nowrap;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #111;

    &:after {
      content: "";
      top: 9px;
      right: -48px;
      width: 40px;
      height: 1px;
      display: block;
      position: absolute;
      background-color: #111;
    }
  }
}

@media (max-width: 1024px) {
  .social_links {
    display: none;
  }
}
